body {
    background-image: url('https://img.freepik.com/free-vector/stream-binary-code-design-vector_53876-161364.jpg?size=626&ext=jpg&ga=GA1.1.947478224.1719775261&semt=ais_user');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.img1{
    padding-left: 500px;
    padding-bottom: 50px;
    
}