body {
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    padding: 20px;
    background-color: #1f1f1f;
}

h1 {
    margin: 0;
    font-size: 2.5em;
}

.intro, .types {
    padding: 20px;
}

.intro img, .type img {
    width: 15rem; /* Reduce the width to 60 */
    border-radius: 
