.bgRed{
    background-color: red;
}


.textBlack{
    color:black
    ;
}

.
.textRed{
    color: red ;
    color: red;
}
.textYellow{
    color: yellow;
}
.textPurple{
    color: yellow
}
.textGrey{
    color:yellow
}    
.textOrange{
    color:yellow;
}
.textGreen{
   
  color:yellow;
}
.bgGreen{
    background-color:black
}
.textWhite{
    color: white;
}
.fontSize{
    font-size: 30px;
}
.background{
    background-repeat: no-repeat;
    background-size: cover;
    
    

}